
.vs/BlazorBattleship/DesignTimeBuild/.dtbcache.v2
.vs/BlazorBattleship/DesignTimeBuild/.dtbcache.v2
.vs/BlazorBattleship/DesignTimeBuild/.dtbcache.v2
.vs/BlazorBattleship/FileContentIndex/read.lock
.vs/BlazorBattleship/DesignTimeBuild/.dtbcache.v2
.vs/BlazorBattleship/v17/.suo
.vs/ProjectEvaluation/blazorbattleship.metadata.v5.2
.vs/ProjectEvaluation/blazorbattleship.projects.v5.2
BlazorBattleship/obj/BlazorBattleship.csproj.nuget.dgspec.json
BlazorBattleship/obj/BlazorBattleship.csproj.nuget.g.props
BlazorBattleship/obj/Debug/net6.0/BlazorBattleship.AssemblyInfo.cs
BlazorBattleship/obj/Debug/net6.0/BlazorBattleship.AssemblyInfoInputs.cache
BlazorBattleship/obj/Debug/net6.0/BlazorBattleship.assets.cache
BlazorBattleship/obj/Debug/net6.0/BlazorBattleship.csproj.AssemblyReference.cache
BlazorBattleship/obj/Debug/net6.0/BlazorBattleship.GeneratedMSBuildEditorConfig.editorconfig
BlazorBattleship/obj/Debug/net6.0/BlazorBattleship.RazorAssemblyInfo.cache
BlazorBattleship/obj/Debug/net6.0/project.razor.vs.json
BlazorBattleship/obj/project.assets.json
BlazorBattleship/obj/project.nuget.cache
.vs/BlazorBattleship/DesignTimeBuild/.dtbcache.v2
.vs/BlazorBattleship/v17/.suo
.vs/ProjectEvaluation/blazorbattleship.metadata.v5.2
.vs/ProjectEvaluation/blazorbattleship.projects.v5.2
BlazorBattleship/obj/Debug/net6.0/project.razor.vs.json
.vs/BlazorBattleship/v17/.futdcache.v2
.vs/BlazorBattleship/v17/.suo
.vs/ProjectEvaluation/blazorbattleship.metadata.v5.2
.vs/ProjectEvaluation/blazorbattleship.projects.v5.2
/.vs/ProjectEvaluation
/BlazorBattleship/bin/Debug
/BlazorBattleship/bin
